<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

  <div class="page-header">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <h1><span class="display-4" th:text="PAGE TITLE"> </span></h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-2">
      <!--        potential nav bar-->
    </div>
    <div class="col-9">
      <div class="page-header">
        <h1 class="display-4">Title</h1>
        <!--                    Content-->
      </div>
    </div>
  </div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>