
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">

<head th:fragment="baseHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Dit is de algemene titel</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/css/linc.css">
</head>

<body>
<div class="container-fluid" th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <div class="wrap">
                <button class="button">linc</button>
            </div>
<!--            <img  src="/static/images/linclogo.png" width="60" height="60" aria-label="Bootstrap" alt="Logo"><use xlink:href="#"></use></img>-->
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a th:href="@{/home}" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a th:href="@{/circle/new}" class="nav-link px-2 link-dark">New circle</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <form class="form-inline" action="/user/new">
<!--            <button  type="submit" class="btn btn-outline-primary me-2">Login</button>-->
            <button  type="submit" class="btn btn-primary">Sign-up</button>
            </form>
        </div>
    </header>
</div>



<div class="footer" th:fragment="footer">
    <footer><p class="text-center text-muted">Copyright SoftCare &copy;2022</p></footer>
</div>
<div th:fragment="bottomScripts">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>
</body>
</html>