.claimButton {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #4FD1C5;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.claimButton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10rem;
    border-color: #2B50AA;
    z-index: -2;
}
.claimButton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #4FD1C5;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.claimButton:hover {
    color: #fff;
}
.claimButton:hover:before {
    width: 100%;
}



.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

h4 {
    font-weight: lighter;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #1D3557;
    padding-bottom: 50px;
}
.card.w-100{
    margin-bottom: 5px;
}

.display-4 {
    font-size: xx-large;
    font-weight: normal;
}

#taskDescription {
    height: 200px;
}

.modal, .modal-body, .modal-footer, .modal-header {
    text-align: left;
}

a {
    color: #1D3557;
}


.list-group {
    max-width: 460px;
}

.col-5.tasks {
    border-style: solid;
    border-radius: 10px;
    border-color: #F0ECEC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    width: 250px;
}
.btn-primary {
    z-index: 2;
    position: relative;
}

.btn.done{
    background-color: #4FD1C5;
    border-color: #4FD1C5;
    color: white;
}

.btn.done:hover {
    background-color: #4FD1C5;
    border-color: #4FD1C5;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
}

.btn.delete {
    background-color: #E63946;
    border-color: #E63946;
    color: white;
}

.btn.delete:hover {
    background-color: #E63946;
    border-color: #E63946;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
}

.btn.edit {
    background-color: #457B9D;
    border-color: #457B9D;
    color: white;
}

.btn.edit:hover {
    background-color: #457B9D;
    border-color: #457B9D;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
}

.btn.new {
    background-color: #1D3557;
    border-color: #1D3557;
    color: white;
}

.btn.new:hover {
    background-color: #1D3557;
    border-color: #1D3557;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
}

.btn.claim {
    background-color: #2B50AA;
    border-color: #2B50AA;
    color: white;
}

.btn.claim:hover {
    background-color: #2B50AA;
    border-color: #2B50AA;
    opacity: 0.7;
    transition: 0.3s;
    color: white;
}

.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    /*left: 250%;*/
    min-width: 60px;
    min-height: 60px;
    font-family: 'Century Gothic', sans-serif;

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: white;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 5s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

/*button::before {*/
/*    content: '';*/
/*    border-radius: 1000px;*/
/*    min-width: calc(60px + 12px);*/
/*    min-height: calc(60px + 12px);*/
/*    border: 6px solid #00FFCB;*/
/*    box-shadow: 0 0 60px rgba(0,255,203,.64);*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    opacity: 0;*/
/*    transition: all .3s ease-in-out 0s;*/
/*}*/

.button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
}

button:hover::before, button:focus::before {
    opacity: 1;
}

/*button::after {*/
/*    content: '';*/
/*    width: 30px; height: 30px;*/
/*    border-radius: 100%;*/
/*    border: 6px solid #00FFCB;*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    animation: ring 10s infinite;*/
/*}*/

button:hover::after, button:focus::after {
    animation: none;
    display: none;
}

/*@keyframes ring {*/
/*    0% {*/
/*        width: 30px;*/
/*        height: 30px;*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        width: 120px;*/
/*        height: 120px;*/
/*        opacity: 0;*/
/*    }*/
/*}*/

.frontpage-image{
    width: 70%;
    height: auto;
    opacity: 95%;
    border-radius: 5%;
}

.page-header{
    text-align: left;
    margin-bottom: 1rem;
}

.user-buttons {
    text-align: right;
}

.error {
    color: crimson;
}

.card-tasks{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card-tasks:hover{
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#remove-member {
    filter:  contrast(50%);
}

#delete-task{
    filter:  contrast(50%);
}

#edit-task{
    filter:  contrast(50%);
}

#remove-member:hover {
    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

#delete-task:hover {
    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);

}

#edit-task:hover {
    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(25deg) brightness(104%) contrast(97%);
}

.profileButton{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(212deg) brightness(104%) contrast(97%);
    }

#claimButton:hover{
    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(180deg) brightness(125%) contrast(97%);
}
#claimButton{
    filter:  contrast(15%);
}

#doneButton:hover{

    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(180deg) brightness(125%) contrast(97%);
}
#doneButton{
    filter:  contrast(15%);
}

#unClaimButton:hover{

    transform: scale(1.25);
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(180deg) brightness(125%) contrast(97%);
}
#unClaimButton{
    filter:  contrast(15%);
}

/*dashboard dedicated styling*/

.card-title {
    margin-bottom: 0.2rem;
}

.card-body {
    padding: 0.75rem;
}

.card-tasks {
    padding: 0;
}

#card-body-inner {
    max-height: 8rem;
}

.new-circle-dashboard {
    display: flex;
}
