<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Overview of all circles</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
    <div class="page-header">
    <h1 class="display-4">All Circles</h1>
    </div>
    <p th:unless="${allCircles.size != 0}" class="">You are not invited to any circles yet..</p>
    <table>
        <tr th:each="circle : ${allCircles}">
            <td><a th:href="@{/circle/{circleId}(circleId=${circle.circleId})}" th:text="${circle.circleName}"></a></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>