<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${circle.circleName}"></title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4" th:text="${circle.circleName}"></h1>
            </div>
        </div>
    </div>
    <!--    VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-tasks-tab" data-toggle="pill" href="#v-pills-tasks" role="tab" aria-controls="v-pills-tasks" aria-selected="true">Tasks</a>
                <a class="nav-link" id="v-pills-users-tab" data-toggle="pill" href="#v-pills-users" role="tab" aria-controls="v-pills-users" aria-selected="false">Members</a>
                <a class="nav-link" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history" role="tab" aria-controls="v-pills-history" aria-selected="false">Task history</a>
                <a th:if="${isAdmin}" class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            </div>
        </div>

        <div class="col-8">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-tasks" role="tabpanel" aria-labelledby="v-pills-tasks-tab">

            <!--            TASK CONTENT START-->
                                        <div class="card w-100 card-tasks" th:each="task : ${tasksToDo}">
<!--                                            Task title & description-->
                                            <div class="card-body">

                                                <h5 class="card-title" style="transform: rotate(0);"><a th:href="@{/task/{taskId}(taskId=${task.taskId})}" th:text="${task.taskName}"></a><a th:href="@{/task/{taskId}(taskId=${task.taskId})}" class="stretched-link"></a></h5>
                                                <p class="card-text" th:text="${task.taskDescription}"></p>
                                                <!--                                                           Claim button if unclaimed-->
                                                    <div th:if="${task.user == null}" class="">
                                                        <form th:action="@{/task/claim}" method="post" class="" >
                                                            <div class="text-right float-right" style="display:inline;">
                                                                <label>
                                                                    <input type="image"  src="/static/images/plus.svg" height="55" width="55" id="claimButton" alt="claim" title="Claim this task">
                                                                </label>
                                                            </div>
                                                            <span>
                                                                <input class="list-group-item-check pe-none"  checked type="hidden" th:name="taskId" th:value="${task.taskId}">
                                                            </span>
                                                        </form>
                                                    </div>
                                                <!--                                                 Done button if claimed & owned-->
                                                <div th:if="${task.claimedUserName == currentUser}" class="">
                                                    <form th:action="@{/task/done}" method="post" th:object="${task}">
                                                        <span>
                                                            <input class="list-group-item-check pe-none"  checked type="hidden" th:name="taskId" th:value="${task.taskId}">
                                                        </span>
                                                        <div class="text-right float-right" style="display:inline;">
                                                            <label>
                                                                <input type="image"  src="/static/images/check-lg.svg" height="50" width="50" id="doneButton" alt="done" title="Mark this task as Done">
                                                            </label>
                                                        </div>
                                                    </form>
                                                </div>
<!--                                                Displays duration, if available-->
                                                <span th:if="${task.duration > 0}" class="text-left" style="display:inline;">
                                                    <img th:if="${task.duration < 59}" src="/static/images/clock-history.svg" th:text="' '+${task.duration}+'  minutes'" class="" alt="duration">
                                                    <img th:if="${(task.duration < 120) && (task.duration > 59)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(1 - (task.duration/60))}+'+ hour'" class="" alt="duration">
                                                    <img th:if="${(task.duration < 180) && (task.duration > 119)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(2 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                                    <img th:if="${(task.duration < 240) && (task.duration > 179)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(3 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                                    <img th:if="${(task.duration < 300) && (task.duration > 239)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(4 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                                <br>
                                                </span>
<!--                                                Displays due date, if available-->
                                                <span th:if="${task.dueDate != null}" class="text-left" style="display:inline;">
                                                    <img src="/static/images/calendar-check.svg" th:text="' ' + ${#temporals.format(task.dueDate, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}" class="" alt="calender">
                                                        <span th:each="notification : ${notificationList}">
                                                            <span th:if="${task.taskName == notification.task.taskName}" class="badge badge-danger">!</span>
                                                        </span>
                                                </span>
<!--                                                Displays claimants name if claimed-->
                                                    <span th:if="${task.claimedUserName != null}" class="text-right">
                                                    <span th:if="${task.claimedUserName != currentUser}" class="d-block small opacity-50 text-right" th:text="'Claimed by: '+${task.claimedUserName}">
                                                    </span>
                                                    </span>

                                            </div>
                                        </div>
            <a class="btn btn-primary float-right"  href="/task/new">New task</a>
            </div>
<!--            TASK CONTENT END-->
        <div class="tab-pane fade col-4" id="v-pills-users" role="tabpanel" aria-labelledby="v-pills-users-tab">
            <!--        USER CONTENT START-->
            <div class="card w-100" th:each="user: ${users}" th:unless="${user.username == 'sysAdmin'}">
                <div class="card-body">
                    <h5 class="card-title"  th:text="${user.username}" style="display: inline" ></h5>
                        <span th:each="userpermission: ${userPermissions}">
                            <span th:if="${(user.userId == userpermission.user.getUserId())}">

                            <span th:if="${isAdmin}" style="display: inline" class="">
                                <label class="text-right">
                                    <input class="text-left ml-1" id="remove-member" type="image" src="/static/images/removeMember.svg" alt="Submit"
                                   data-toggle="modal" th:attr="data-target=${'#modalRemoveMember' + user.userId}"/>
                                    <input th:if="${isAdmin}" class="text-left ml-1" id="edit-task" type="image" src="/static/images/pencil.svg" alt="Submit"
                                   data-toggle="modal" th:attr="data-target=${'#changeRoles' + userpermission.getCircleMemberId()}"/>
                                </label>
                            </span>
                            <div  th:if="${userpermission.isAdmin() == true}">
                                Admin
                            </div>
                            <div  th:if="${userpermission.isClient() == true}">
                                Client
                            </div>
                            <div  th:if="${(userpermission.isAdmin() == false) and (userpermission.isClient() == false)}">
                                Caregiver
                            </div>

                            <div th:if="${isAdmin}" class="modal fade" th:each="userPermission: ${userPermissions}" th:attr="id=${'changeRoles' + userpermission.getCircleMemberId()}"
                                 tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:text="${user.username}+'`s permissions'"></h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row ml-2">
                                                <form th:action="@{/assignRole/admin}" method="post" style="float:left;">
                                                    <label class="text-left">
                                                        <input class="list-group-item-check pe-none text-left"
                                                               checked type="hidden" th:name="circleMemberId" th:value="${userpermission.user.getUserId()}">
                                                        <input type="submit"  value="Make admin" class="btn btn-primary mr-1">
                                                    </label>
                                                </form>

                                                <form th:action="@{/assignRole/client}" method="post" style="float:right;">
                                                    <label class="text-left">
                                                        <input class="list-group-item-check pe-none text-left ml-2"
                                                               checked type="hidden" th:name="circleMemberId" th:value="${userpermission.user.getUserId()}">
                                                        <input type="submit"  value="Make client" class="btn btn-primary">
                                                    </label>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </span>
                    </span>
                </div>
            </div>

            <div th:if="${isAdmin}" class="modal" th:each="user: ${users}" th:attr="id=${'modalRemoveMember' + user.userId}"
                 tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                        </div>
                        <div class="modal-body">
                            <p>
                                You are about to remove <span th:block th:text="${user.username}"></span>
                                from this Circle.
                                <br><br>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <form th:action="@{/member/remove}" method="post">
                                <input class="list-group-item-check pe-none text-right"
                                       checked type="hidden" th:name="circleMemberId" th:value="${user.userId}">
                                <input type="submit"  value="remove member" class="btn delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
<!--            New member content, if admin-->
            <div class="">
            <p>
                <a class="btn btn-primary" th:if="${isAdmin}" data-toggle="collapse" href="#collapseNewUser" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Add members
                </a>
            </p>
            <div class="collapse" id="collapseNewUser">
                    <form method="post" th:action="@{/member/new}" th:object="${newMemberUser}" >
                        <label for="emailAddress">Email address</label>
                        <input name ="emailAddress" id="emailAddress" type="email" th:required="required" class="form-control"
                               th:field="*{emailAddress}" placeholder="Email address">
                        <br>
                        <p class="text-danger" th:if="${unknownEmail == true}">No such user


                        </p>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
            </div>
            </div>
            <!--        USER CONTENT END-->
        </div>

        <div class="tab-pane fade" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-history-tab">
<!--            HISTORY CONTENT START-->

            <p th:unless="${doneTasks.size != 0}" class="text-left">No tasks have been marked done yet..</p>
            <div class="card w-100" th:each="task : ${doneTasks}">
                <!--                                            Task title & description-->
                <div class="card-body">
                    <h5 class="card-title" style="transform: rotate(0);" th:text="${task.taskName}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="'Done by: ' + ${task.claimedUserName}"></h6>
                    <p class="card-text" th:text="${task.taskDescription}"></p>
                </div>
            </div>

<!--            HISTORY CONTENT END-->
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
<!--            SETTINGS CONTENT START-->
            <div>
                <button type="button" class="btn delete" data-toggle="modal" data-target="#myModal">Delete circle</button>
                <button th:if="${circleInviteCode.getCircle() == null}" class="btn btn-primary"
                        data-toggle="modal" data-target="#generateInviteCode">Generate invite-code</button>
            </div>

            <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationTitle">Are you sure?</h5>
                        </div>
                        <div class="modal-body">
                            <p>
                                You are about to delete Circle <span th:block th:text="${circle.circleName}"></span>
                                that has <span th:block th:text="${tasksToDo.size}"></span> task(s) in it.
                                <br><br>
                                Deleting a Circle can not be undone!
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <form  action="/circle/delete" class="delete-button-bottom">
                                <input type="submit"  value="Delete Circle" class="btn delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="generateInviteCode" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationTitle">Generate invite-code</h5>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/invitecode/new}" method="post" th:object="${circleInviteCode}">
                                <div class="form-group">
                                    <label>Invite-code: </label>
                                    <h5 th:text="*{inviteCode}"></h5>
                                    <button type="submit" class="btn btn-primary" th:formaction="@{/invitecode/renew}">
                                        <img id="refresh" src="/static/images/arrow-repeat.svg" alt="Refresh"></button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <form th:action="@{/invitecode/new}" method="post" th:object="${circleInviteCode}">
                                <input type="hidden" name="inviteCode" id="inviteCode"
                                       class="form-control" th:field="*{inviteCode}">
                                <input type="submit" class="btn btn-primary" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${circleInviteCode.getCircle() != null}">
                <form method="post" th:object="${circleInviteCode}">
                    <h5 th:text="*{inviteCode}"></h5>
                    <p th:text="'Valid untill: ' + ${#temporals.format(circleInviteCode.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}"></p>
                    <input type="submit" class="btn delete" th:formaction="@{/invitecode/delete}" value="Revoke invite-code">
                </form>
            </div>
<!--            SETTINGS CONTENT END-->
        </div>
    </div>
</div>
    </div>
</div>


<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>