<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create new circle</title>
</head>
<body>

<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4">Create new Circle</h1>
            </div>
        </div>
    </div>

    <!--    POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

        <!--            CIRCLE FORM CONTENT START-->
        <div class="col-3">
            <form method="post" th:action="@{/circle/new}" th:object="${circle}">
                <div class="form-group">
                    <label for="circleName">Circle name</label>
                    <input name="circleName" id="circleName" type="text" class="form-control"
                           th:field="*{circleName}" placeholder="Circle name">
                </div>

                <input type="submit" class="btn btn-primary" value="Create">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>