<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>New circle</title>
</head>
<div th:replace="fragments/general :: header"></div>
<body>

<div class="container" >
    <h1 class="display-4">Create new Circle</h1>
    <div class="col-3 form">
    <form action="#" th:action="@{/circle/new}" th:object="${circle}" method="post" >
        <p><input type="text" th:field="*{circleName}" placeholder="Circle Name"/></p>
        <br>
        <p><input type="submit" value="Submit" class="btn done" />
    </form>
    </div>
    </div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>