<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${circle.circleName} + ' details'"></title>
</head>
<body>
<div th:replace="fragments/general :: navbar"></div>
<div class="container">
    <h1>Circle of <span th:text="${circle.circleName}"></span></h1>
    <ul>
        <li th:each="task : ${circle.tasks}">
            <a th:text="${task.taskName}"></a>
        </li>
    </ul>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>