<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Dashboard</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4">Dashboard</h1>
            </div>
        </div>
    </div>
    <!--   POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

        <!--        TASK CONTENT START-->
        <div class="col-6">
            <div class="card w-100">
                <div class="card-body">
                    <h4>Tasks</h4>
                    <p th:unless="${claimedTasks.size != 0}" class="">You have not claimed any tasks yet...</p>
                    <div class="card w-100" th:each="task: ${claimedTasks}">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{/task/{taskId}(taskId=${task.taskId})}" th:text="${task.taskName}"></a></h5>
                            <p class="card-text" th:text="${task.taskDescription}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        TASK CONTENT END-->
        <!--   CIRCLE CONTENT START -->
        <div class="col-2">
            <div class="card w-100">
                <div class="card-body">
                    <h4>Circles</h4>
                    <p th:unless="${allCircles.size != 0}" class="">You are not invited to any circles yet..</p>
                    <ul th:each="circle : ${allCircles}">
                        <li><a th:href="@{/circle/{circleId}(circleId=${circle.circleId})}" th:text="${circle.circleName}"></a></li>
                    </ul>

                    <!--   NEW CIRCLE -->
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseNewCircle" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            New circle
                        </a>
                    </p>

                    <div class="collapse" id="collapseNewCircle">
                        <form method="post" th:action="@{/circle/new}" th:object="${circle}">
                            <div class="form-group">
                                <label for="circleName">Circle name</label>
                                <input name="circleName" id="circleName" type="text" class="form-control"
                                       th:field="*{circleName}" placeholder="Circle name">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--            NEW CIRCLE CONTENT END-->
        <div class="col-2"></div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>