<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:src="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Dashboard</title>
</head>
<body>
<div class="container-fluid" th:fragment="header">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" sec:authorize="isAnonymous()">
            <div class="wrap">
                <button class="logo">linc</button>
            </div>
        </a>

        <a href="/dashboard" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" sec:authorize="isAuthenticated()">
            <div class="wrap">
                <button class="logo">linc</button>
            </div>
        </a>

        <h5 class="card-title" th:text="'Welcome ' + ${currentUser}"></h5>

        <div class="col-md-3 user-buttons">
            <a class="btn btn-primary" sec:authorize="isAnonymous()" href="/login">Login</a>
            <a class="btn btn-primary" sec:authorize="isAuthenticated()" href="/logout">Logout</a>
            <a class="btn done" sec:authorize="isAnonymous()" href="/user/new">Register</a>
            <a class="" sec:authorize="isAuthenticated()" href="/user/profile">
                <img  class="profileButton" src="/static/images/person-circle.svg" width="40" height="40" type="image" alt="profile">
            </a>
        </div>
    </header>
</div>
<!--HEAD CONTENT ENDS-->


<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4">My Dashboard</h1>
            </div>
        </div>
    </div>
    <!--   POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

<!--        Filter & sort bar-->
        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <p class="mt-1">All available task in your circles</p>
                </div>
                <div class="col-4">
                    <div class="form-group form-inline float-right">
                        <label for="categoryFilter"></label>
                        <form method="get" th:action="@{/dashboard}" id="categoryFilterForm" >
                            <select class="form-control" id="categoryFilter" name="categoryFilter" th:placeholder="'Please select'" onChange="this.form.submit()">
                                <option disabled selected value="">Filter by category</option>
                                <option th:value="'Outdoor'" name="categoryFilter">Outdoor & Garden</option>
                                <option th:value="'Indoor'" name="categoryFilter">Indoor chores</option>
                                <option th:value="'Transport'" name="categoryFilter">Trips & transport</option>
                                <option th:value="'Company'" name="categoryFilter">Keeping company</option>
                            </select>
                        </form>
                    </div>
                </div>

            </div>
            <!--        TASK CONTENT START-->
            <p th:unless="${tasksPerUser.size != 0}" class="">There are no tasks in your circle(s) yet</p>
            <div class="card w-100 card-tasks" th:each="task: ${tasksPerUser}">
                <!--                                            Task title & description-->
                <div class="row">
                    <div  th:attr="id=${task.category} + 'Label'">
                        <span th:if="${task.category != null}"><img th:attr="src=${'/static/images/categoryImages/' + task.category +'.svg'}"  class="mb-1 float-right" alt="category" id="categoryIcon"></span>
                    </div>

                    <div class="col-11">
                        <div class="card-body" >
                            <div class="row">
                                <!--                                                 Done button if claimed & owned-->
                                <div class="col-1">
                                    <form th:action="@{/task/doneFD}" method="post" th:object="${task}">
                                        <span>
                                            <input class="list-group-item-check pe-none"  checked type="hidden" th:name="taskId" th:value="${task.taskId}">
                                        </span>
                                            <div>
                                                <label>
                                                    <input type="image" width="40" height="40" id="doneButton" alt="done"
                                                       src="/static/images/icons/square.svg" class="mt-1"
                                                       onmouseleave="this.src='/static/images/icons/square.svg';"
                                                       onmouseover="this.src='/static/images/icons/check-square.svg';">
                                                </label>
                                            </div>
                                    </form>
                                </div>
                                <!--                                                    Title & description-->
                                <div class="col-7">
                                    <h5 class="card-title" style="display: inline; transform: rotate(0)"><a th:href="@{/task/{taskId}(taskId=${task.taskId})}" th:text="${task.taskName}"></a><a th:href="@{/task/{taskId}(taskId=${task.taskId})}" class="stretched-link"></a></h5>

                                    <h6 class=" text-muted" th:text="${task.circleName}"></h6>
                                </div>
                                <!--                                                    Due date & time -->
                                <div class="col-4">
                                    <span th:if="${task.duration > 0}" class="text-left" style="display:inline;">
                                        <img th:if="${task.duration < 59}" src="/static/images/clock-history.svg" th:text="' '+${task.duration}+'  minutes'" class="" alt="duration">
                                        <img th:if="${(task.duration < 120) && (task.duration > 59)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(1 - (task.duration/60))}+'+ hour'" class="" alt="duration">
                                        <img th:if="${(task.duration < 180) && (task.duration > 119)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(2 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                        <img th:if="${(task.duration < 240) && (task.duration > 179)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(3 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                        <img th:if="${(task.duration < 300) && (task.duration > 239)}" src="/static/images/clock-history.svg" th:text="' '+${(task.duration/60)-(4 - (task.duration/60))}+'+ hours'" class="" alt="duration">
                                        <br>
                                    </span>
                                    <!--                                                Displays due date, if available-->
                                    <span th:if="${task.dueDate != null}" class="text-left" style="display:inline;">
                                        <img src="/static/images/calendar-check.svg" th:text="' ' + ${#temporals.format(task.dueDate, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}" class="" alt="calender">
                                        <span th:each="notification : ${taskNotificationList}">
                                            <span th:if="${task.taskId == notification.task.taskId}" class="badge badge-danger">!</span></span>
                                    </span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        TASK CONTENT END-->
        <!--   CIRCLE CONTENT START -->
        <div class="col-2">
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">My Circles</h5>
                    <br>
                    <p th:unless="${allCircles.size != 0}" class="">You are not invited to any circles yet..</p>
                    <ul th:each="circle : ${allCircles}" style="padding-left: 20px;">
                        <li><a th:href="@{/circle/{circleId}(circleId=${circle.circleId})}" th:text="${circle.circleName}"></a>
                            <span th:each="notification : ${notificationList}">
                                 <span th:if="${(circle.getCircleName()== notification.circle.getCircleName()) && notification.getNumberOfNotifications()>0}" class="badge badge-danger" th:text="${notification.getNumberOfNotifications()}"></span>
                            </span>
                        </li>
                    </ul>

                    <!--   NEW CIRCLE -->
                    <div class="new-circle-dashboard">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseNewCircle" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            New circle
                        </a>
                    </div>

                    <div th:if="${errorMessage}" class="alert alert-info" role="alert">
                        <span th:text="${errorMessage}">errorMessage</span>
                    </div>

                    <div class="collapse" id="collapseNewCircle">
                        <br>
                        <form method="post" th:action="@{/circle/new}" th:object="${circle}">
                            <div class="form-group">
                                <label for="circleName">Circle name</label>
                                <input name="circleName" id="circleName" type="text" class="form-control"
                                       th:field="*{circleName}" placeholder="Circle name">
                            </div>

                            <div class="form-group">
                                <label>
                                    <input type="checkbox" name="clientCheckbox" value="clientCheckbox" checked>
                                    I am the client in this Circle
                                </label>
                            </div>

                            <input type="submit" class="btn btn-primary" value="Create">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--            NEW CIRCLE CONTENT END-->
        <div class="col-2"></div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>