<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="'Edit task ' + ${task.taskName}"></title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
    <div class="page-header">
    <h1 class="display-4" th:text="'Edit task'"></h1>
    </div>
    <div class="col-auto form">
        <form th:action="@{/task/edit}" method="post" th:object="${task}">
            <label for="taskName">Task name:</label>
            <input type="text" id="taskName"
                   th:required="required" placeholder="Select this field to type" th:field="*{taskName}">
        <br>
            <label for="taskDescription">Task description:</label>
            <textarea type ="text" id="taskDescription" th:required="required"
                      placeholder="Select this field to type" th:field="*{taskDescription}"></textarea>
        <br>
            <input type="submit" class="btn done" value="Save">
        </form>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>