<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${task.taskName}"></title>
</head>
<body>

<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4">Edit task</h1>
            </div>
        </div>
    </div>

    <!--    POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

        <!--            EDIT TASK CONTENT START-->
        <div class="col-3">
            <form method="post" th:action="@{/task/edit}" th:object="${task}">
                <div class="form-group">
                    <label for="taskName">Task name</label>
                    <input name="taskName" id="taskName" type="text" class="form-control"
                           th:field="*{taskName}" th:required="required" placeholder="Task name">
                </div>

                <div class="form-group">
                    <label for="taskDescription">Task description</label>
                    <textarea name="taskDescription" id="taskDescription" type ="text" class="form-control"  th:required="required"
                              th:field="*{taskDescription}" placeholder="Task description"></textarea>
                </div>

                <div class="form-group">
                    <label for="dueDate">Due date</label>
                    <input name="dueDate" id="dueDate" type="date" class="form-control"
                           th:field="*{dueDate}">
                </div>


                <div class="form-group">
                    <label for="duration">Duration in minutes</label>
                    <input name="duration" id="duration" type="number" class="form-control"
                           th:field="*{duration}">
                </div>

                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>