<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Edit password</title>
</head>
<body>

<div th:replace="fragments/general :: header"></div>
<div class="container">

    <div th:if="${errorMessage}" class="alert alert-info" role="alert">
        <span th:text="${errorMessage}">errorMessage</span>
    </div>

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4" th:text="${userVM.username}"></h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>

        <!--           EDIT PASSWORD CONTENT START-->
        <div class="col-3">
            <form method="post" th:action="@{/user/edit/password}" th:object="${userVM}">
                <div class="form-group">
                    <label for="currentPassword">Current password</label>
                    <input name="currentPassword" id="currentPassword" type="password" class="form-control"
                           th:field="*{currentPassword}" placeholder="Current password">
                    <ul class="text-danger" th:each="error: ${#fields.errors('currentPassword')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="password">New password</label>
                    <input name="password" id="password"  type="password" class="form-control"
                           th:field="*{password}" placeholder="New password">
                    <ul class="text-danger" th:each="error: ${#fields.errors('currentPassword')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="passwordRepeat">Repeat new password</label>
                    <input name="passwordRepeat" id="passwordRepeat" type="password" class="form-control"
                           th:field="*{passwordRepeat}" placeholder="Repeat new password" >
                    <ul class="text-danger" th:each="error: ${#fields.errors('passwordRepeat')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>


                <input type="submit" class="btn btn-primary" value="Save">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>