<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Login</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
    <form method="post" th:action="@{/login}" class="form">
        <div class="page-header">
            <h1 class="dislay-4">Please login</h1>
        </div>

        <div class="form-div">
            <label for="emailAddress">Emailadress: </label>
            <input name="emailAddress" id="emailAddress" type="text" class="form-control" placeholder="Emailadress"
                   autofocus="true"/>
        </div>
        <div class="form-div">
            <label for="password">Password: </label>
            <input name="password" id="password" type="password" class="form-control" placeholder="Password"/>
        </div>
        <br>
        <div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>

    </form>

</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>