<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Log in</title>
</head>
<body>

<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1 class="display-4">Please log in</h1>
            </div>
        </div>
    </div>

    <!--    POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

        <!--            LOGIN CONTENT START-->
        <div class="col-3">
            <form method="post" th:action="@{/login}">
                <div th:if="${param.error}" class="alert alert-primary">
                    Invalid email address and/or password
                </div>
                <div th:if="${param.logout}" class="alert alert-primary">
                    You've been logged out
                </div>


              <div class="form-group">
                 <label for="emailAddress">Email address</label>
                 <input name="emailAddress" id="emailAddress" type="text" class="form-control" placeholder="Email address">
                </div>

                <div class="form-group">
                  <label for="password">Password</label><input name="password" id="password" type="password" class="form-control" placeholder="Password">
                </div>

                <input type="submit" class="btn btn-primary" value="Log in">
            </form>

            <div th:if="${errorMessage}" class="alert alert-primary" role="alert">
                <span th:text="${errorMessage}">Error</span>
            </div>

        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>