<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>User overview</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">

    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1><span class="display-4">All application users</span></h1>
            </div>
        </div>
    </div>

    <!--        potential nav bar-->
    <div class="row">
        <div class="col-2"></div>

        <!--        user content start-->

        <div class="col-8">

                    <table class="table">
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Name</th>
                            <th scope="col">X</th>
                        </tr>
                        <tr th:each="user: ${userList}" th:unless="${user.username == 'sysAdmin'}">
                            <td th:text="${user.emailAddress}"></td>
                            <td th:text="${user.username}"></td>
                            <td>
                                <input data-toggle="modal" th:attr="data-target=${'#deleteUserModal' + user.userId}" class="text-right mb-1" id="delete-task" type="image" height="14" width="14" src="/static/images/removeMember.svg" alt="delete">
                            </td>
                        </tr>
                    </table>

            <div class="modal" th:each="user: ${userList}" th:attr="id=${'deleteUserModal' + user.userId}" tabindex="-1" role="dialog" aria-labelledby="areYouSure?" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                        </div>
                        <div class="modal-body">
                            <p>
                                You are about to delete <span th:text="${user.username}"></span>
                                from Linc completely.
                                <br><br>
                                Deleting a user can not be undone!
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            <form th:action="@{/sysAdmin/users/delete}" class="delete-button-bottom" method="post">

                                <input class="list-group-item-check pe-none text-right"
                                       checked type="hidden" th:name="userId" th:value="${user.userId}">

                                <input type="submit" value="Delete user" class="btn delete">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>
