<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create a new Task</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
    <div class="page-header">
    <h1 class="display-4">Create new Task</h1>
    </div>
    <div class="col-5 form">
    <form th:action="@{/task/new}" method="post" th:object="${task}">
        <div class="form-div">
            <label for="taskName">Task name: </label>
            <input class="text" id="taskName" type="text" th:field="*{taskName}" placeholder="Select this field to type">
        </div>
        <div class="form-div">
            <label for="taskDescription">Task Description: </label>
            <input class="text" id="taskDescription" type="text" th:field="*{taskDescription}" placeholder="Select this field to type">
        </div>
        <br>
        <input type="submit" class="btn done" value="Submit">
    </form>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>