<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="'Details of ' + ${task.taskName}"></title>
</head>
<div th:replace="fragments/general :: header"></div>
<body>
<div class="container">
    <h1 th:text="'Details of ' + ${task.taskName}"></h1>
    <p th:text="${task.taskDescription}"></p>
    <div class="form-inline">
        <form action="/task/delete">
            <input type="submit" class="btn btn-danger"  value="Delete task">
        </form>
        <form th:action="@{/task/edit/{taskId}(taskId=${task.taskId})}">
            <input type="submit" class="btn btn-primary" value="Edit task">
        </form>
        <form action="/task/done">
            <input type="submit" value="Mark Done" class="btn btn-success" >
        </form>
    </div>
</div>



<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>