<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Create a new Task</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
    <h1 class="display-4">Create new Task</h1>
    <div class="col-3 form">
    <form th:action="@{/task/new}" method="post" th:object="${task}">
        <table>
            <tr>
                <td><input class="text" type="text" th:field="*{taskName}" placeholder="Task Name"></td>
            </tr>
            <tr>
                <td><textarea class="text" type="text" th:field="*{taskDescription}" placeholder="Task Description"></textarea></td>
            </tr>
        </table>
        <br>
        <input type="submit" class="btn done" value="Submit">
    </form>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>