<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${user.username} + 's profile'"></title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1><span class="display-4" th:text="${user.username}"></span></h1>
            </div>
        </div >
    </div>

    <!--    POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>

        <!--            PROFIL CONTENT START-->
        <div class="col-2">
            <img class="profile-picture rounded" th:if="${user.profilePicture == null}" src="/static/images/blank-profile-picture.png">
            <img class="profile-picture rounded" th:if="${user.profilePicture != null}" th:src="@{'data:image/jpeg;base64,'+ ${profilePicture}}">
            <form th:action="@{/upload/profilepicture/}" method="post" enctype="multipart/form-data">
                <input class="form-control" name="file" type="file" id="formFile">
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
        <div class="col-5">
            <span><h5>Username: </h5><h6 th:text="${user.username}"></h6></span>
            <span><h5>Email address: </h5><h6 th:text="${user.emailAddress}"></h6></span>
            <span><h5>Phone number: </h5><h6 th:text="${user.phoneNumber}"></h6></span>

            <a class="btn btn-primary" href="/user/edit/password">Change password</a>





        </div>
        <div class="col-3">
            <a class="btn btn-danger" th:if="${user.username == 'sysAdmin'}" href="/sysAdmin/users">View application users</a>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>