<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title>Register as a user</title>
</head>
<body>

<div th:replace="fragments/general :: header"></div>
<div class="container">

    <div th:if="${errorMessage}" class="alert alert-info" role="alert">
        <span th:text="${errorMessage}">errorMessage</span>
    </div>

    <div class="page-header">
        <h1 class="display-4">Register as a user</h1>
    </div>

    <div class="row">
        <div class="col-5">
            <form method="post" th:action="@{/user/new}"  th:object="${userVM}">
                <div class="form-group">
                    <label for="username">Name</label>
                    <input name="username" id="username" type="text" class="form-control"
                           th:field="*{username}" placeholder="Name">
                    <ul class="text-danger" th:each="error: ${#fields.errors('username')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" id="password" type="password" class="form-control"
                           th:field="*{password}" placeholder="Password">
                    <ul class="text-danger" th:each="error: ${#fields.errors('password')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="passwordRepeat">Repeat password</label>
                    <input name="passwordRepeat" id="passwordRepeat" type="password" class="form-control"
                           th:field="*{passwordRepeat}" placeholder="Repeat password">
                    <ul class="text-danger" th:each="error: ${#fields.errors('passwordRepeat')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="emailAddress">Email address</label>
                    <input name ="emailAddress" id="emailAddress" type="email" class="form-control"
                           th:field="*{emailAddress}" placeholder="Email address">
                    <ul class="text-danger" th:each="error: ${#fields.errors('emailAddress')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Phone number</label>
                    <input name="phoneNumber" id="phoneNumber" type="text" class="form-control"
                           th:field="*{phoneNumber}" placeholder="Phone number">
                    <ul class="text-danger" th:each="error: ${#fields.errors('phoneNumber')}">
                        <li th:each="message : ${error.split(',')}">
                            <p class="error" th:text="${message}"></p>
                        </li>
                    </ul>
                </div>

                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>