<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${user.username} + 's profile'"></title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-9">
                <h1><span class="display-4" th:text="'Profile of ' + ${user.username}"></span></h1>
            </div>
        </div >
    </div>

    <!--    POTENTIAL VERTICAL NAV BAR -->
    <div class="row">
        <div class="col-2"></div>
        <!--            PROFIL CONTENT START-->
                <div class="col-2">
                    <img class="profile-picture rounded" th:if="${user.profilePicture == null}" src="/static/images/blank-profile-picture.png">
                    <img class="profile-picture rounded" th:if="${user.profilePicture != null}" th:src="@{'data:image/jpeg;base64,'+ ${profilePicture}}">

                        <a class="btn btn-primary mt-4" data-toggle="collapse" href="#collapseProfilePicture" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            <span th:if="${user.profilePicture != null}">Change profile picture</span>
                            <span th:if="${user.profilePicture == null}">Upload profile picture</span>
                        </a>

                    <div class="collapse" id="collapseProfilePicture">
                        <br>
                        <form th:action="@{/upload/profilepicture/}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="formFile">Select image</label>
                            <input class="form-control" name="file" type="file" id="formFile">
                            </div>
                                <input type="submit" value="Upload" class="btn btn-primary">
                        </form>
                    </div>

                </div>
                <div class="col-8">
                    <h5 style="display: inline" th:text="'Username: '"></h5><h5 class="user-info" th:text="${user.username}" style="display: inline"></h5>
                    <br><br>
                    <h5 style="display: inline" th:text="'Email address: '"></h5><h5 class="user-info" th:text="${user.emailAddress}" style="display: inline"></h5>
                    <br><br>
                    <h5 style="display: inline" th:text="'Phone number: '"></h5><h5 class="user-info" th:text="${user.phoneNumber}" style="display: inline"></h5>
                    <br><br>
                    <a class="btn btn-primary" href="/user/edit/details">Edit details</a>
                    <a class="btn btn-primary" href="/user/edit/password">Change password</a>
                    <br>
                    <a class="btn btn-danger mt-4" th:if="${user.username == 'sysAdmin'}" href="/sysAdmin/users">View application users</a>
                </div>

</div>
<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>