<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
    <title th:text="${user.username} + 's profile'"></title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">
    <div class="page-header">
    <h1><span class="display-4" th:text="${user.username}"></span></h1>
    </div>

    <form th:action="@{/user/edit}" method="get">
        <input type="submit" class="btn done" name = "Edit user" value="edit"/>
    </form>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>