<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Linc by SoftCare</title>
</head>
<body>
<div th:replace="fragments/general :: header"></div>
<div class="container">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Linc is sharing together</h1>
        <p class="fs-4">Linc offers an intuitive and clean platform to ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
              <img  src="/static/images/frontpage.jpg"  width="70%" height="70%" aria-label="Bootstrap" class="frontpage-image" alt="holding hands">
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>