<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/general :: baseHeader(~{:: title})">
  <title>Linc by SoftCare</title>
</head>
<body class="background">
<div th:replace="fragments/general :: header"></div>
<div class="container">
  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="mb-lg-5" style="vertical-align: text-top">LINC is caring together</h1>
        <p class="fs-4"></p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" th:action="@{/invitecode/join}" method="get">
          <div class="form-floating mb-3">
            <h5 class="ml-5">Join LINC today:</h5>
            <div th:if="${succesMessage}" class="alert alert-success" role="alert">
              <span th:text="${succesMessage}">errorMessage</span>
            </div>
            <label for="name">Name</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Name">
          </div>
          <div class="form-floating mb-3">
            <label for="inviteCode">Invite-code (optional)</label>
            <input type="text" class="form-control" name="inviteCode" id="inviteCode" placeholder="Your invite-code">
          </div>
          <div th:if="${errorMessage}" class="alert alert-info" role="alert">
            <span th:text="${errorMessage}">errorMessage</span>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign-up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div th:replace="fragments/general :: footer"></div>
<div th:replace="fragments/general :: bottomScripts"></div>
</body>
</html>